@import "../../styles/index.scss";

.new-template {
  background-color: $greyish;
  padding: 80px 124px;

  .card {
    padding: 40px 240px;

    .form {
      .input-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 0;

        label {
          flex-grow: 1;
          flex-basis: 10%;
        }
        input {
          border: 0;
          background-color: $athens-gray;
          font-size: 14px;
          padding: 10px 248px 10px 10px;
          border-radius: 4px;
        }
      }
    }
  }
}
