@import "../../styles/index.scss";

.new-template {
  background-color: $greyish;
  padding: 80px 124px;

  h2 {
    font-weight: bold;
    font-size: 26px;
  }
  .card {
    padding: 40px 240px;
    margin-top: 20px;

    .form {
      padding-bottom: 10px;
      border-bottom: 1px solid $luminus;
      .input-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 0;

        label {
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 50%;
        }
        .template-name {
          border: 0;
          background-color: $athens-gray;
          font-size: 14px;
          padding: 10px;
          border-radius: 4px;
          width:100%;
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 50%
        }
      }
    }

    .form-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;

      button {
        font-size: 14px;
        padding: 12px 36px;
        border: 2px solid $blue;
      }

      .action__import {
        background-color: $white;
        color: $blue;
      }
      .action__continue {
        background-color: $blue;
        color: $white;
      }
    }
  }
}

.side-panel {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
}

