@import '../../../styles/index.scss';
.customer__form{
    padding:20px;
    .form__heading{
        color:$black;
        font-size: 20px;
        font-weight: bold;
        line-height: 27px;
        text-transform: capitalize;
        padding-bottom: 40px;
    }
    .form__buttons{
        padding-top: 30px;
        button{
            font-size: 14px;
            line-height: 19px;
        }
        button:first-child{
            margin-right:10px;
            background-color: $blue;
            color:$white;
        }
        button:last-child{
            background-color: $white;
            color:$blue;
            border: 1px solid $blue;
            
        }
    }
    .form-select{

        option{
            font-size: 14px;
            line-height: 19px;
            text-transform: capitalize;
            color:$triple_9;
        }
    }
    .form-select:focus{
        outline:none !important;
    }
}