$greyish:               #FAFAFA;
$silver-chalice:         #afafaf;
$athens-gray:            #f4f6f8;
$mercury:                #e7e7e7;
$white:                 #FFF;
$triple_3:              #333333;
$green:                 #57A635;
$triple_9:              #999999;
$greyishdark:           #666666;
$footer_btm:            rgb(39,38,38);
$footer_top:            rgb(49,48,48);
$faint:                 rgb(125,124,124);
$emperor:                #535353;
$gray-chateau:           #99a0a7;
$mine-shaft:             #303030;
$mine-shaft-2:           #262626;
$black:                 #000;