$alabaster:              #fafafa;
$athens-gray:            #f4f6f8;
$emperor:                #535353;
$gray-chateau:           #99a0a7;
$mercury:                #e7e7e7;
$mine-shaft:             #303030;
$mine-shaft-2:           #262626;
$silver-chalice:         #afafaf;
$white:                  #ffffff;
