$white:                  #ffffff;
$greyish:                #fafafa;
$athens-gray:            #f4f6f8;
$mercury:                #e7e7e7;
$luminus:                #e0e0e0;
$triple_9:               #999999;
$gray-chateau:           #99a0a7; 
$boulder:                #7d7c7c;
$greyishdark:            #666666;
$mine-shaft:             #303030;
$emperor:                #535353;
$triple_3:               #333333;
$mine-shaft-2:           #262626;
$black:                  #000000;
$green:                  #57A635;
$blue:                   #0078B3;
$tripple_7:              #C7C7C7;
