@import "../../../styles/index.scss";

.input__fields {
  label,
  input[type="text"],
  input[type="text"]:placeholder {
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
  }

  input[type="text"] {
    color: $triple_9;
    background-color: $athens-gray;
    border-radius: 4px;
    border: 1px solid $athens-gray;
    width: 100%;
    text-transform: capitalize;
    padding: 15px;
  }

  input:focus {
    outline: none;
  }
  label {
    color: $greyishdark;
  }
}
