@import "../../styles/index.scss";

.navigation {
  a {
    padding-left: 24px;
    text-transform: capitalize;
  }
  padding: 0 120px;

  .navigation__mini {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 0;
		font-size: 14px;
  	color: $gray-chateau;
		
    a:first-child {
      padding-left: 0px;
      
      padding-right: 12px;
    }
    a:last-child {
      padding-left: 12px;
    }
  }
  .navigation__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


		img {
			height: 60px;
		}
  }
  .navigation__main--list {
    display: flex;
    flex-direction: row;
		align-items: center;
    margin-bottom: 0px;
    a {
      color: $triple_3;
      font-size: 16px;
      font-weight: 500;
    }
    a:first-child {
      padding-left: 0px;
    }
    a:active {
      // active state
    }
  }
  hr {
    margin: 0 -120px;
    margin-bottom: 3px;
  }
}
