@import '../../styles/styles.scss';
.navigation{
    a{
        text-decoration: none;
        padding-left:24px;
        text-transform: capitalize;
    }
    padding:0 120px;
    .navigation__mini{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top:10px;
        padding-bottom: 10px;
        a{
            font-size: 16px;
            color:$greyishdark;
        }
        a:first-child{
            padding-left:0px;
            border-right:1px solid $greyishdark;
            padding-right: 12px;
        }       
        a:last-child{
            padding-left:12px;
        }
    }
    .navigation__main{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 35px;
    }
    .navigation__main--list{
        display: flex;
        flex-direction: row;
        margin-bottom:0px;
        a{
            color:$triple_3;
            font-size: 16px;
            font-weight: 500;
        }
        a:first-child{
            padding-left:0px;
        }
        a:active{
            // active state
        }
    }
    hr{
    margin:0 -120px;
    margin-bottom:35px;
    }
}