@import "../../styles/index.scss";

.select-input {
  position: relative;
  background-color: $athens-gray;
  border-radius: 4px;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;

  select {
    appearance: none;
    font-size: 14px;
    padding: 10px 30px 10px 10px;
    background-color: transparent;
    border: 0;
    width: 100%;
  }

  option {
    font-size: 14px;
  }

  .custom-arrow {
    position: absolute;
    top: 18px;
    right: 10px;
    display: block;
    background-image: url("../../assets/icons/select-icon.svg");
    height: 6px;
    width: 12px;
    pointer-events: none;
  }
}
