@import "../../styles/index.scss";

footer {
  .footer__pale {
    background-color: $mine-shaft;
    padding-top: 30px;
    padding-bottom: 32px;
  }
  .footer__dark {
    background-color: $mine-shaft-2;
    padding-left: 100px;
    p {
      padding: 15px 0 15px;
      color: $boulder;
      font-size: 10px;
      span {
        padding-left: 10px;
      }
      .span__border {
        border-right: 1px solid $boulder;
        padding-right: 10px;
      }
    }
    a {
      color: $boulder;
      text-decoration: underline;
    }
  }
}
