@import "../../styles/index.scss";

.footer {
    .footer__pale{
        background-color: $footer_top;
        padding-top:30px;
        padding-bottom: 32px;
    }
    .footer__dark{
        background-color: $footer_btm;
        padding-left: 100px;
        p{
            padding-top: 30px;
            color:$faint;
            font-size: 16px;
            text-transform: capitalize;
            span{
                padding-left:10px;
            }
            .span__border{
                border-right:1px solid $faint;
                padding-right:10px;
            }
        }
        a {
            
            color:$faint;
        }

    }
}