@import '../../../styles//index.scss';
.templates{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom:15px;
    width:100%;
    .templates__item{
        flex-basis: 20%;
        p{
            font-size:16px;
            color:$blue;
            line-height: 22px;
            padding-top: 15px;
        }
        small{
            font-size: 11px;
            line-height: 15px;
            color:$greyishdark;
            padding-top: 10px;
            
        }
       
        img{
            margin-top:30px;
            -webkit-box-shadow: 3px 10px 15px -4px rgb(0,0,0,16%); 
            box-shadow: 3px 10px 15px -4px rgb(0,0,0,16%);
        }
    }
}