@import '../../../styles//index.scss';
.question-form{
    .session__name{
        display:flex;
        padding-bottom: 30px;
        position: relative;
        >img:first-child{
            padding-right:12px;
            padding-bottom: 12px;
            cursor: pointer;
        }
        .session__name--btns{
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            position:absolute;
            left:89%;
            top:16%;
               
            img:first-child{
                padding-right:10px;
                
            }
        }
        .session__name--secondary{
            position:static;
            margin-left:71.5%;
            img:nth-of-type(3){
                padding-left:10px;
            }
        }
        .input__fields{
            width:100%;
        }
        input{
            // min-width: 97%;
            padding:10px;
            background-color: $white;
        }
    }
    .session__addquestion{
        border-radius:8px;
        border-style: dotted;
        border:1px dashed $luminus;
        max-width: 30%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        >.session__addquestion--prompt{
            padding-top:90px;
            padding-bottom: 90px;
            
        }
    }
    .session__addquestion--prompt{
        color:$blue;
        font-size: 14px;
        line-height: 19px;
        text-transform: capitalize;

    }
        .last{
            border-top:1px solid $luminus;
            padding-top: 20px;
            padding-bottom: 80px;
            margin-top: 30px;
        }
        .description{
            white-space: nowrap;
            color:$triple_3;
            font-size:20px;
            font-weight: bold;
            line-height: 27px;
            padding-bottom: 10px;
        }
}